@charset "UTF-8";

/* CLASSES PADRÕES */

/* HEADER'S CSS */
header span {
	font-size: 24pt !important;
}

header ul li {
	padding-right: 5px;
}

/* HOME CSS */

#section__begin {
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/home/background__paper.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.container #letspray__background {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('../img/home/letsplay__background.jpg') no-repeat;
	background-size: cover;
	background-position: top;
	padding: 550px 0px 10px 10px;
	color: var(--colors-light);
	text-align: center;
}

.container #column__letspray {
	padding: 250px 0px;
	text-align: center;
}

.container #column__letspray h3 {
	line-height: 67pt;
}

.container #column__letspray .btn_letspray {
	background: var(--colors-dark);
	color: var(--colors-light);
	padding: 16px 65px;
	text-decoration: none;
	font-size: 14pt;
	margin-top: 10px;
}